<p>{{saludo}} soy {{person.name()}}</p>
<ul>
    @for (task of tasks(); track task) {
    <li> {{task}} </li>
    }
</ul>

<hr>
<h2>{{"hola".repeat(2)}}</h2>
<p>la suma de 3 mas 3 es {{3 + 3}}</p>

<hr>
<img [src]="img" alt="">
<input type="text" [value]="variableInput">
<button [disabled]="disabled">click me</button>

<hr>
<!-- {{propiedad}} [atributos] (eventos)-->
<button (dblclick)="clickHandler()">click me event</button>
<button (click)="clickHandler()" (dblclick)="clickHandler()">click me event 2 times</button>
<input (change)="changeHandler($event)" type="number" />

<hr>
<!-- change y keydown tienen sus diferencias -->
<input (keydown)="keydonwnHandler($event)" [value]="person.name()" />
<input (change)="changeHandler($event)" [value]="person.name()" />
<input (keydown.shift.t)="clickHandler()" [value]="person.name()" />

<hr>
<h1>signals</h1>
<input (keyup)="changeHandler($event)" [value]="person.name()" />
<p>texto afectado por signals: {{person.name()}}</p>

<hr>
<ul>
    <li *ngFor="let task of tasks() index as i">{{i}} {{task}} </li>
</ul>
<p>num tareas {{tasks().length}}</p>

<hr>
<h2>ngIf</h2>
@if (1 != 1) {
<span>esta es la primera opcion </span>
} @else {
esta es la segunda opcion
}

<hr>
<h2>ngSwitch</h2>
<div>
    @switch (person.name()) {
    @case ('Juan') {
    <span>Hola Juan</span>
    }
    @case ('Pedro') {
    <span>Hola Pedro</span>
    }
    @default {
    <span>Hola desconocido</span>
    }
    }
</div>

<hr>
<h2>formularios reactivos</h2>
<input type="color" [formControl]="colorCtrl">
<p>color {{ colorCtrl.value }} </p>

<hr>
<input type="number" [formControl]="widthCtrl">
<span class="box" [style.width.px]="widthCtrl.value"></span>

<hr>
<p>
    <input type="text" [formControl]="nameCtrl"> <br>
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">nombre invalido</span>
</p>

<hr>
<h2>new for</h2>
<ul>
    <p>total: {{tasks().length}}</p>
    @for (task of tasks(); track task; let i = $index) {
    <li>{{i}} {{task}}</li>
    } @empty {
    <li><strong>la lista esta en vacio</strong></li>
    }
</ul>
<hr>
<h2>new switch</h2>
@switch (person.name()) {
@case ('victor') {
<p>si soy</p>
}
@case ('julian') {
<p>si julian</p>
}
@case ('chente') {
<p>si vicente</p>
}
@default {
<p>no te conozco</p>
}
}