<div class="container">
  <h1>Primer proyecto</h1>
  <h2>{{ welcome }}</h2>
  <ul> 
    <!-- renderizar una array y cada elemento de el -->
    <li *ngFor="let task of tasks">{{task}}</li>
  </ul>

  <hr>
  <h1>se permite combinar texto duro con datos dinamicos</h1>
  <h2>{{ "hola".repeat(4) }}</h2>
  <p> la suma de 3 + 3 es {{3+3}}</p>
  <p>hola soy {{name}} y tengo {{age}}</p>

  <hr>
  <h1>se puede completar propiedades con variables o la logica de la app (property binding)</h1>
  <img [src]="img" alt="imagen firefox">
  <input type="text" [value]="name">
  <input type="number" [value]="person().age">
  <button [disabled]="bStatus">click me</button>
  <p>{{person().name}}</p>

  <hr>
  <h1>manejo de eventos con parentesis (click y doble click) (event binding)</h1>
  <button (click)="clickHandler()">click me</button>  <button (dblclick)="clickHandler()">double me</button>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)">

  <hr>
  <h1>manejo de eventos con parentesis (key down) (event binding)</h1>

  <input type="text" value="keydown" (keydown)="keyDownHandler($event)">
  <input type="text" value="con enter pasa algo" (keydown.enter)="clickHandler()">

  <hr>
  <h1>Signals</h1>
  <p>este nombre cambiara de forma reactiva y dinamica ->{{secondName()}}</p>
  <input type="text" [value]="secondName()" (keydown)="signalHandler($event)">

  <hr>
  <h1>directivas de control</h1>
  <ul> 
    <!-- renderizar una array y cada elemento de el -->
    <li *ngFor="let task of tasks2(); index as i">
      {{i}}
      {{task}}
    </li>
    <p>total: {{tasks2().length}}</p>
  </ul>

  <hr>
  <h1>uso de ngif</h1>
  <p *ngIf="1 === 1">esto se vera</p>
  <p *ngIf="1 !== 1">esto NO se renderizara</p>
  <div *ngIf="secondName() === 'eduardo' ">Soy eduardo</div>

  <input type="number" [value]="person().age" (change)="changeAge($event)">

  <p *ngIf="person().name === 'victor' && person().age > 20; else elseBLock">
    victor mayor de 20
  </p>
  <ng-template #elseBLock>
    <p>ha entrado en el bloque else por datos erroneos
    </p>
  </ng-template>

  <hr>
  <h1>Uso de ngSwitch y ngSwitchDefault</h1>
  <input type="text" [value]="person().name" (change)="changeName($event)" placeholder="Recuerda el enter">
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'victor'">yo soy victor en el primer caso</p>
    <p *ngSwitchCase="'eduardo'">yo soy eduardo la opcion 2 </p>
    <p *ngSwitchCase="'vicente'">soy chente 3 </p>
    <p *ngSwitchDefault>yo no soy nadie</p>
  </div>

  <hr>
  <h1>controlando un input</h1>
  <input type="color" [formControl]="colorCtrl">
  <p>{{colorCtrl.value}}</p>
</div>